<div class="page-width">
    <div class="video_pop_container">
      {% for block in section.blocks %}
          <div class="video_pop_wrapper">
            <div class="">
                {{
                    block.settings.video_picker
                    | video_tag:
                      autoplay: true,
                      loop: true,
                      controls: true,
                      muted: true
                  }}
            </div>

          </div>
        {% endfor %}
    </div>

</div>

  {% schema %}
  {
    "name": "video-popup",
    "settings": [
      {
        "type":"text",
        "id":"heading",
        "label":"Heading"
      },
      {
        "type": "range",
        "id": "padding_top",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "padding_top",
        "default": 36
      },
      {
        "type": "range",
        "id": "padding_bottom",
        "min": 0,
        "max": 100,
        "step": 4,
        "unit": "px",
        "label": "padding_bottom",
        "default": 36
      }
    
  ],
  "presets": [
    {
        "name":"video-popup"
    }
  ]
  }
  {% endschema %}
  