.collections-section__image {
  text-align: center;
}
.collection-metafield__section .grid-item {
  flex: 0 0 16%;
}
.collection-metafield__section {
  display: flex;
  gap: 10px;
  overflow: scroll;
}
.collections-section__image img {
  height: 100%;
}
.collection-metafield__section::-webkit-scrollbar {
  display: none;
}
.collections-section__list--collection.grid.grid--1-col.grid--2-col-tablet {
  width: 20%;
}

@media only screen and (max-width: 749px) {
  .collection-metafield__section .grid-item {
    flex: 0 0 33%;
  }
}


