input#Search:focus {
  border: none;
}
.grid-product__tag--sale {
  display: none;
}
.new-grid.collection_list::-webkit-scrollbar {
  width: 0.5px;
  height: 0.2px;
}
.scrollable-grid--small::-webkit-scrollbar {
  width: 0.5px;
  height: 0.2px;
}
.new-grid.collection_list::-webkit-scrollbar-thumb {
  background-color: #888;
}
div#PageContainer {
  margin-top: -21px; /* In the header above the announcement bar there was a white space it was comming from the Breeze App Loader for removing that whitespace*/
}
.grid-product__tag.grid-product__tag--sold-out {
  color: white;
  background: black;
}
img.hero__image.hero__image--slide-1.medium-up--hide.image-element,
img.hero__image.hero__image--slide-2.medium-up--hide.image-element {
  width: 100%;
  object-fit: fill;
}
.recently_view [data-view="medium"] .grid-item {
  flex: 0 0 20%;
}
.heading_recently_view {
  text-align: center;
}
.grid.grid--uniform.grid--flush-bottom {
  display: flex;
}

@media only screen and (min-width: 750px) {
  .header-layout {
    max-height: 55px;
  }
}