header.section-header.section-header--with-link button.section-header__link.address-new-toggle {
  border: 1px solid #EE3D43;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #EE3D43;
  color: white;
}
.product-tab__content p {
  line-height: 3rem;
}
header.section-header.section-header--with-link.acccount-page-section .section-header__title {
  border-bottom: 1px solid gray;
  width: 30%;
}
td.trackorder a {
  border: 1px solid #EE3D43;
  text-decoration: none;
  background-color: #ee3d43;
  color: #fff;
}
h1.section-header__title {
  border-bottom: 1px solid gray;
  padding-bottom: .5rem;
  padding-top: 1.5rem;
  font-size: 20px;
  display: flex;
  align-items: center;
}
.account_overview_text {
  border: 1px solid gray;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.account_overview_text {
  font-size: 15px;
}
.product-tab__content p.customer_details_overview {
  line-height: 0;
}
.product-tab__content p {
  display: flex;
  align-items: center;
  gap: 1rem;
}
.product-tab__content.tab_content_account_page {
  display: flex;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
}
p.address_account {
  font-size: 1.5rem;
}
.address_book_account_page {
  border: 1px solid gray;
  padding-right: 0;
}
.product-tab__content.addres_form_account {
  font-size: 15px;
}
td.track-order-button.section-header__link.address-new-toggle a {
  border: 1px solid #EE3D43;
  padding: 0.5rem;
  text-decoration: none;
  background-color: #ee3d43;
  color: #fff;
  border-radius: 5px;
}
.collection__metafield--section h1.section-header__title,
header.section-header.section-header--flush h1.section-header__title {
  border-bottom: none;
}
.grid-product__tag.inqure_now {
  color: #fff;
}
.table--responsive td:before {
  font-weight: 900;
}
.account_manage_order,
.account_shipping,
.account_wishlist {
  border: 1px solid gray;
  padding: 0.5rem;
  background: #EE3D43;
  color: white;
  border: none;
  border-radius: 5px;
  width: 80%;
}
span.collapsible-trigger__layout {
  font-size: 20px;
  font-weight: 500;
  color: rgb(51, 51, 51);
}
.page-width.page-width--narrow.faq_page_container {
  width: 60%;
  max-width: 60%;
}
.collection-metafield__sections.meta_collection_faq {
  width: 80%;
  margin: auto;
}
.grid-item.main_faq_collection_item {
  width: 33%;
  justify-content: center;
  @media only screen and (max-width: 749px) {
    width: 100%;
  }
}
.main-view-order {
  line-height: 0;
}
.main-view-order {
  margin-top: 10px;
  text-align: center;
}
.logout-btn {
  cursor: pointer;
  border: 1px solid gray;
  padding: 1rem;
  width: 40%;
  margin: auto;
  text-align: center;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* account page tabs sections */
.heading_content {
  padding-bottom: 62px;
}
.logout-btn {
  padding: 0;
}
.faq_section-list {
  display: flex;
  align-items: flex-start;
  width: 100%;
  margin: auto;
  padding-bottom: 40px;
  gap: 5rem;
}
.product-tab__content {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 4.2rem;
  letter-spacing: 0.011rem;
}
.product-tab__content p {
  padding: 0;
  margin: 0;
}
p.address_text_save {
  font-size: 15px;
  line-height: 28px;
  min-height: 5rem;
}
.product-tab__content p:first-child {
  font-size: 15px;
  color: #000000;
}
.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #ccc;
  width: 60%;
  border-left: none;
  height: 300px;
}
.faq_section-left {
  float: left;
  width: 20%;
}
.faq_section-right {
  width: 70%;
  margin: 2rem 0;
}
.faq_image {
  padding: 0 8rem;
}
.faq_section-left .tablinks {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.11px;
  text-transform: capitalize;
  cursor: pointer;
}
.tab-content {
  float: left;
  width: 100%;
}
.faq_section-left h3 {
  display: block;
  text-align: left;
  transition: 0.3s;
  font-weight: 500;
  padding: 1.3rem 0;
  margin: 0;
}
.faq_section-left .tablinks:last-child {
  border-bottom: none;
}
.faq_section-left h3.is--active {
  color: black;
  font-weight: 600;
}
.faq-tab__summary span::before {
  display: inline-block;
  content: "";
  -webkit-border-radius: -21.625rem;
  border-radius: 0.375rem;
  height: 0.7rem;
  width: 0.75rem;
  margin-right: 0.5rem;
  background-color: #c8b668;
}
.details {
  display: none;
}
.faq_section-right .details:first-child {
  display: block;
}
.faq_mobile-section {
  display: none;
}
.questions {
  width: 40%;
}
.faq-tab__details .product-tab__content {
  font-size: 12px;
  line-height: 23px;
  letter-spacing: 0.11px;
  font-weight: 500;
  color: #9b9b9b;
  width: 84%;
  padding: 0 0 30px 10px;
}
.slideshow__slide.announcement-slider__slide {
  display: flex;
  align-items: center;
  justify-content: center;
}
/*animation */
@keyframes shake {
  0% {
    transform: translate(0);
  }
  25% {
    transform: translate(-2px, 2px);
  }
  50% {
    transform: translate(2px, -2px);
  }
  75% {
    transform: translate(2px, 2px);
  }
  100% {
    transform: translate(-2px, -2px);
  }
}
/* animation svg */
h1.section-header__title svg {
  animation: shake 0.5s ease infinite;
}
button.btn.btn--full.add-to-cart.breeze-button,
a.btn.btn--full.inqure-now-form {
  margin-top: 1rem;
}
.collection-metafield__sections.meta_collection_faq.flickity-enabled.is-draggable button.flickity-button.flickity-prev-next-button.flickity-next {
  right: -2rem;
}
.collection-metafield__sections.meta_collection_faq.flickity-enabled.is-draggable button.flickity-button.flickity-prev-next-button.flickity-previous {
  left: -2rem;
}
@media only screen and (max-width: 749px) {
  .recognition-section--dot-container {
    margin-top: 0;
  }
  .page-width.page-width--narrow.faq_page_container {
    width: 100%;
    max-width: 100%;
  }
  span.order_info_span {
    width: 61%;
    display: block;
  }
  span.order_info_span_count {
    width: 52%;
    display: block;
  }
  span.order_info_span_date {
    width: 83%;
    display: block;
  }
  span.order_info_span_total {
    display: block;
    width: 69%;
  }
  .main_account_address hr.hr--medium {
    margin-bottom: 20px;
  }
  .faq_section-right {
    margin-top: 1rem;
  }
  .product-tab__content.addres_form_account .breadcrumb {
    line-height: 0;
  }
  .section-header--with-link .section-header__title {
    display: inline;
  }
  .product-tab__content p {
    line-height: 24px;
  }
  .product-tab__content td {
    font-size: 13px;
    padding-top: 10px;
    padding-bottom: 20px;
    border: 1px solid #ccc;
  }
  .main-view-order {
    margin-left: 10rem;
  }
  td.track-order-button.section-header__link.address-new-toggle a {
    padding: 1rem;
  }
  .main-view-order {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .table--responsive td:before {
    font-size: 15px;
  }
  td.track-order-button.section-header__link.address-new-toggle {
    margin-top: 0;
  }
  h1.section-header__title {
    padding-bottom: 1.5rem;
  }
  .product-tab__content.tab_content_account_page {
    gap: 1rem;
  }
  div#logout-btn-account {
    font-size: 16px;
    line-height: 37px;
  }
  .product-tab__content p {
    font-size: 12px;
  }
  .account_overview_text p {
    line-height: 27px;
    margin-top: 10px;
  }
  .main_container_tab_section {
    display: flex;
    overflow-x: scroll;
    align-items: center;
  }
  .main_container_tab_section::-webkit-scrollbar {
    width: 1px;
    height: 2px;
  }
  .main_container_tab_section::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  .main_container_tab_section::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
  }
  .main_container_tab_section::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
  .faq_section-right {
    width: 100%;
  }
  div#logout-btn-account {
    padding: 0;
  }
  .logout-btn {
    width: 100%;
  }
  h1.section-header__title {
    border-bottom: none;
  }
  .faq_section-list {
    flex-direction: column;
    gap: 0;
  }
  .main_container_tab_section {
    display: flex;
    overflow-x: scroll;
  }
  .product-tab__content {
    font-size: 12px;
  }
  .faq_section-left .tablinks {
    font-size: 14px;
    padding: 0;
    height: 35px;
  }
  .description_tab_wrapper {
    padding-bottom: 0;
  }
  .faq_mobile-section {
    display: block;
  }
  .tab-content {
    margin-bottom: 1rem;
  }
  .questions {
    width: 100%;
  }
  .faq_heading-text {
    font-size: 24px;
    font-weight: 9900;
    line-height: 20px;
    letter-spacing: -0.38px;
    text-align: center;
  }
  .faq_section-left {
    float: left;
    width: 100%;
  }
  .faq_section-left .tablinks {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid gray;
    flex: 0 0 40%;
    margin-bottom: 1rem;
  }
}
input#address_default_address_new {
  margin-bottom: .5rem;
}
button#addresses-add-submit {
  margin-bottom: 1rem;
}
.left-button-content.svelte-9mhw2v {
  align-items: baseline;
}
p.contactus_svg svg.whatsapp_icon_footer {
  margin-right: 0;
}
/* account end page tabs sections */
@media only screen and (min-width: 750px) {
  .page-width.page-width--narrow.Contact-us .location_info {
    width: 50%;
  }
  .page-width.page-width--narrow.Contact-us .form_info {
    width: 50%;
  }
  .collapsible-trigger {
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .collapsible-content__inner.rte:last-child {
    border-bottom: 1px solid;
  }
  .section-header--with-link {
    width: 76%;
    display: flex;
    gap: 3rem;
  }
  .product-tab__content td {
    margin-top: 0;
  }
  header.section-header.section-header--with-link button.section-header__link.address-new-toggle {
    margin-top: 19px;
  }
  .product-tab__content .main_account_address p {
    line-height: normal;
    margin-bottom: 15px;
  }
  .customer_details_overview.cutsomer_name_account {
    margin-top: 1rem;
  }
  p.customer_main_id {
    margin-top: 1.8rem;
  }
  .main-view-order {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 80%;
    margin: auto;
  }
  td.track-order-button.section-header__link.address-new-toggle a {
    padding: 1rem;
  }
  .table--responsive td:before {
    font-size: 15px;
  }
  .product-tab__content th {
    font-size: 15px;
    line-height: 24px;
  }
  .product-tab__content td {
    height: 150px;
  }
  .header-layout {
    margin-top: 13px;
  }
  header.section-header.section-header--with-link.acccount-page-section {
    justify-content: space-between;
  }
  .account_overview_text,
  .address_book_account_page {
    width: 45%;
  }
  .account_overview_text {
    padding: 2rem;
  }
  .address_book_account_page {
    padding: 2rem;
  }
  .main_description_tabs {
    display: none;
  }
  .description_tabs_container {
    width: 80%;
  }
  .faq_section-list {
    padding-top: 57px;
  }
  .faq_section-left h3.is--active {
    font-size: 18px;
  }
  h1.section-header__title {
    gap: 10px;
  }
  .faq_section-left h3.is--active th {
    padding: 10px 5px;
  }
}
@media only screen and (max-width: 749px) {
  .product-tab__content p {
    margin-bottom: 10px;
  }
  .header-layout {
    overflow: hidden;
  }
  .text-center .newsletter-section__content form {
    overflow: hidden;
  }
  .site-header__search-container.is-active {
    margin-top: 4rem;
  }
  .newsletter-section--no-image .newsletter-section__content {
    width: 100%;
  }
  h1.section-header__title {
    gap: 10px;
  }
  .faq_section-list {
    padding-top: 0;
  }
  .main_description_tabs {
    width: 80%;
  }
  .mobile_tabs_content p.email_customer_account_page {
    font-size: 15px;
  }
  .mobile_tabs_content p.address_account_wishlist,
  .mobile_tabs_content p.customer_details_overview {
    font-size: 24px;
  }
  .account_overview_text,
  .address_book_account_page {
    margin-bottom: 1rem;
  }
  div#logout-btn-account {
    margin-top: 2rem;
  }
  .account_overview_text,
  .address_book_account_page {
    padding: 1rem;
  }
  #AnnouncementSlider .flickity-viewport {
    max-height: 37px;
    height: 37px !important;
    /* This height is comming from the flikity so i have given the !important here */
  }
  .header-layout {
    padding-top: 10px;
  }
  .header-item.header-item--logo {
    width: 30%;
  }
  .h1.site-header__logo,
  a.site-header__logo-link,
  image-element.aos-init.aos-animate,
  img.medium-up--hide.image-element {
    max-width: 100%;
  }
  .account_overview_text,
  .address_book_account_page {
    width: 100%;
  }
  .mobile_tabs_content p {
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 1rem;
    padding-bottom: 1rem;
  }
}
/* contact us */
.location_main_wrapper iframe {
  width: 100%;
  margin-bottom: -6px;
}
.page-width.page-width--narrow.Contact-us button {
  background: #EE3D43;
}
p.contactus_svg {
  display: flex;
  align-items: center;
  gap: 12px;
}
.page-width.page-width--narrow.Contact-us {
  display: flex;
  gap: 3rem;
  max-width: 90%;
}
.page-width.page-width--narrow.Contact-us svg {
  height: 20px;
  width: 20px;
}
@media only screen and (max-width: 749px) {
  .page-width.page-width--narrow.Contact-us {
    flex-wrap: wrap;
    max-width: 100%;
  }
}
label:not(.variant__button-label):not(.text-label) {
  text-transform: capitalize;
}
.hero__animation-contents.Contact-us a {
  color: white;
  text-decoration: none;
}